body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.menu {
    display: flex;
    gap: 10px;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 0;

    /*animation*/
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes move {
    50% {
        top: 600px;
    }

    100% {
        top: 0px;
    }
}

.bigBox {
    width: 400px;
    height: 400px;
    font-size: 0;
}

.littleBox {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: blueviolet;/*rgba(100, 100, 200, 0);*/
    width: 100px;
    height: 100px;
    display: inline-block;
}

